[submodule "client/libs/raygui"]
	path = client/libs/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "client/libs/raylib"]
	path = client/libs/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "libs/entt"]
	path = libs/entt
	url = https://github.com/skypjack/entt.git
[submodule "client/libs/rres"]
	path = client/libs/rres
	url = https://github.com/raysan5/rres.git
[submodule "client/libs/rguiicons"]
	path = client/libs/rguiicons
	url = https://github.com/raysan5/rguiicons.git
[submodule "client/libs/rguilayout"]
	path = client/libs/rguilayout
	url = https://github.com/raysan5/rguilayout.git
[submodule "client/libs/rguistyler"]
	path = client/libs/rguistyler
	url = https://github.com/raysan5/rguistyler.git
[submodule "server/libs/dropper-maya_blender"]
	path = server/libs/dropper-maya_blender
	url = https://github.com/jhocking/dropper-maya_blender.git
